a 
	text-decoration: none
	&:hover
		text-decoration: underline
		color: $second-color
		
/* Липкая шапка

header
	position: relative
	height: 50px

nav
	position: fixed
	width: 100%
	height: 50px
	background-color: #212121
	z-index: 1000

.hamburger
		display: none

/* Menu

.menu
	display: flex
	justify-content: space-between
	padding: 13px 70px
	margin: 0
	list-style-type: none

	&_link
		font-size: 15px
		font-weight: 300
		color: #ffffff

	&_item
		border-right: 2px dotted black
		padding-right: 45px

		&:last-child
			border-right: none

.subheader
	position: absolute
	top: 50px
	width: 100%
	height: 84px
	background-color: rgba(0, 0, 0, 0.6)

	&_official
		margin-top: 6px auto 16px
		opacity: 0.5
		font-size: 13px
		font-weight: 400
		color: #ffffff

	&_logo
		display: block
		max-width: 100%
		margin-top: 16px

	&_call
		text-align: right
		margin: 20px 0 6px 18px
		font-size: 12px
		font-weight: 300
		color: #ffffff

	&_phone
		display: block
		margin-top: 8px auto 26px
		font-size: 22px
		font-weight: 400
		text-transform: uppercase
		color: #ffffff
		text-align: right
		line-height: 12px

	&_btn
		display: block
		margin-top: 16px
		box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2)
		font-size: 14px
		font-weight: 400
		text-transform: uppercase
		color: #ffffff
		width: 178px
		height: 52px
		background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%)
		border: none
		border-radius: 10px/10px
		@include btn-hover

.humburger
	display: none

/* Promo

.promo
	padding: 151px 0 139px 0
	min-height: 800px
	background: url('../img/bg/main_bg.jpg') center (center / cover) no-repeat

	&_header
		font-size: 60px
		font-weight: 900
		text-transform: uppercase
		color: #ffffff
		line-height: 60px
		margin: 0
		text-align: center

	&_subheader
		font-size: 36px
		font-weight: 700
		text-transform: uppercase
		color: #ffffff
		line-height: 36px
		margin-bottom: 0
		margin-top: 22px
		text-align: center

	&_descr
		margin-top: 20px
		font-size: 18px
		font-weight: 400
		color: #ffffff
		text-align: center
		line-height: 24px

	&_btn
		display: block
		margin: 115px auto 0
		width: 265px
		height: 69px
		background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%)
		border: 3px solid rgba(0, 0, 0, 0.06)
		box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2)
		font-size: 18px
		font-weight: 400
		text-transform: uppercase
		color: #ffffff
		border: none
		border-radius: 10px/10px
		@include btn-hover

/* Reason

.reason
	min-height: 900px
	padding: 71px 0 68px 0

	&_advantages
		padding: 4px 0
		display: block
		margin: 0 auto
		text-align: center
		font-size: 11px
		font-weight: 400
		text-transform: uppercase
		color: #ffffff
		width: 112px
		height: 24px
		background-color: #000000
		&_white
			color: black
			background-color: white

	&_subtitle
		display: block
		margin-top: 38px
		font-size: 38px
		font-weight: 700
		text-transform: uppercase
		color: #222222
		text-align: center
		&_white
			color: white

	&_circle
		display: flex
		justify-content: center
		align-items: center
		margin-right: 26px
		width: 113px
		height: 113px
		background-color: $main-color
		border-radius: 100%

	&_descr
		width: 343px
		font-size: 15px
		font-weight: 300
		color: #202020

	span
		font-size: 17px
		line-height: 21px
		font-weight: 400
		color: $main-color

	&_item
		display: flex
		justify-content: center
		align-items: center
		margin-top: 40px

	&_sub_title2 
		margin-top: 19px
		text-align: center
		font-size: 17px
		font-weight: 400
		color: #222222
		&_white
			color: white

.mobile 
	min-height: 864px
	padding: 48px 0 80px 0
	background: url('../img/bg/mobile_bg.png') center (center/cover) no-repeat
	.row 
		margin-top: 32px 
	&_item
		width: 320px;
		height: 280px;
		margin: 0 auto
		margin-bottom: 19px
		padding-top: 92px  
		position: relative
		&_1
			background: url('../img/bg/mobile_screen_1.jpg') center (center/cover) no-repeat
		&_2
			background: url('../img/bg/mobile_screen_2.jpg') center (center/cover) no-repeat
		&_3
			background: url('../img/bg/mobile_screen_3.jpg') center (center/cover) no-repeat
		&_4
			background: url('../img/bg/mobile_screen_4.jpg') center (center/cover) no-repeat
		&_5
			background: url('../img/bg/mobile_screen_5.jpg') center (center/cover) no-repeat
		&_6
			background: url('../img/bg/mobile_screen_6.jpg') center (center/cover) no-repeat
		&_subtitle 
			font-size: 24px
			line-height: 31px
			font-weight: 400
			text-transform: uppercase
			color: #ffffff
			text-align: center
		&_plus 
			display: flex
			justify-items: center
			align-items: center
			position: absolute
			bottom: 35px
			left: 50%
			transform: translateX(-50%)
			width: 26px
			height: 26px
			background-color: #000000
			border-radius: 100%
			margin: 0 auto 
			padding: 6px
			cursor: pointer
			&:before
				content: ''
				display: block
				width: 14px
				height: 2px
				background-color: $main-color
				transition: 0.3s all
			&:after 
				position: absolute
				left: 50%
				transform: translateX(-50%)
				content: ''
				display: block
				width: 2px
				height: 14px
				background-color: $main-color
				transition: 0.3s all
			&:hover 
				&:before, &::after
					background-color: $second-color
				

.choice 
	padding: 57px 0 138px 0
	min-height: 896px
	position: relative
	background: url('../img/bg/mobile_bg.png') center (center / cover) no-repeat
	&_img 
		position: relative
		display: block
		margin: 56px auto 0 auto
		z-index: 3
	&_descr 
		text-align: center
		color: #222222
		font-size: 17px
		font-weight: 300
		line-height: 24px
	.black 
		position: absolute 
		top: 0
		left: 0
		height: 499px
		width: 100%
		background-color: #070716
		z-index: 1
	.reason_title
		position: relative
		z-index: 5

.require 
	padding: 68px 0 84px 0
	&_block 
		margin: 33px 0
		&_nmb 
			margin-bottom: 0px
	&_title 
		font-size: 22px
		line-height: 24px
		font-weight: 400
		color: #1ca8c3
	&_list
		list-style-type: none 
		padding-left: 50px
		margin-top: 22px
		li 
			position: relative
			font-size: 17px
			font-weight: 300
			color: #222222
			line-height: 24px
			margin-bottom: 10px
			&:before 
				content: ''
				display: block
				width: 21px
				height: 20px
				position: absolute
				left: -32px
				top: 3px
				background: url('../icons/check_blue.png') center (center / cover) no-repeat
	&_desc
		font-size: 16px
		color: #1ca8c3
		font-weight: 400
	.warning 
		.require_title
			color: $second-color
		.require_list
			li
				&:before 
					background: url('../icons/check_red.png') center (center / cover) no-repeat

.map 
	position: relative
	min-height: 717px
	padding: 49px 0
	background: url('../img/bg/map_13.jpg') center (center / cover) no-repeat
	&_descr
		position: absolute
		left: 50%
		transform: translateX(-50%)
		bottom: 49px
		text-align: center
		font-size: 15px
		font-weight: 400
		line-height: 68px
		text-transform: uppercase
		color: #1fbad6
		&:hover 
			text-decoration: none
			color: #fff

footer
	padding: 14px 23px 39px 23px
.footer
	&_divider
		display: block
		margin: 0 auto
		width: 299px
		height: 4px
		background-color: #1fbad6
	&_wrapper 
		margin-top: 32px
		display: flex
		justify-content: space-between
		align-items: flex-start
	&_wrapper >	div
			width: 33%
			&:nth-child(3)
				display: flex
				justify-content: flex-end
	&_social
		width: 160px
		display: flex
		justify-content: space-between
		&_item
			margin-right: 7px
			display: flex
			justify-content: center
			align-items: center
			width: 32px
			height: 32px
			background-color: black
			border-radius: 100%
			&:last-child
				margin-right: 0
			i
				color: white
				&:hover
					text-decoration: none
					color: $second-color
	&_links
		width: 390px
		margin: 0 auto
		&_main
			display: flex
			justify-content: space-between
			padding: 0 10px
			a
				font-size: 15px
				font-weight: 300
				text-transform: uppercase
				color: #070716
		&_sub
			display: flex
			justify-content: space-between
			margin-top: 10px
			a
				font-size: 11px
				font-weight: 300
				text-transform: uppercase
				color: #999999
		&_lang
			display: block 
			margin: 0 auto
			color: #1fbad6
			font-size: 11px
			font-weight: 400
			margin-top: 19px
			text-transform: uppercase
			text-align: center

.xs-visible
	display: none
