.footer {
    min-height: 630px;
    position:relative;
    &__info {
        padding: 50px 54px 56px 54px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        border: none;
        background-color: $main-color;
    }
    &__addr {
        margin-bottom: 0;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 100% */
    }
    &__phone {
        display: block;
        margin-top: 36px;
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 100% */
        &:hover {
            color: #fff;
        }
    }
    &__social {
        margin-top: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 53px;
        height: 52px;
        margin: 0 14px;
        border-radius: 100%;
        border: 2px solid #fff;
        background-color: $main-color;
        img {
            width: 24px;
            height: 24px;
        }
    }
}